@import "tailwindcss";

@theme {

  /* CORES */
  --color-alterra: #FF8601;

  /* ANIMAÇÕES */
  --animate-spin-slow: spin-slow 10s linear infinite;
  --animate-spin-slower: spin-slower 30s linear infinite;

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-slower {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }	
}